<form method="post" action="sessions/register">
<label for="first_name">Name</label>
<input type="text" name="first_name">

<label for="last_name">surname</label>
<input type="text" name="last_name">

<label for="email">e-mail</label>
<input type="email" name="email">

<label for="age">age</label>
<input type="number" name="age">

<label for="password">password</label>
<input type="text" name="password">

<button type="submit"> Register </button>
</form>